input,
textarea,
select {
	appearance: none;
	background-color: transparent;
	border: .1rem solid $light-gray;
	border-radius: .4rem;
	box-shadow: none;
	box-sizing: inherit;
	height: 3.8rem;
	padding: .6rem 1.0rem;
	width: 80%;

	&:focus {
		border-color: $primary;
		outline: 0;
	}
}

label,
legend {
	display: block;
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: .5rem;
}

