@mixin helper-element {
  color: $initial-white;
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
}

@media (min-width: $bp-min-desktop) {
  body::before {
    @include helper-element;
    content: "desktop";
    background: #001f3f;
  }
}

@media (min-width: $bp-min-tablet) and (max-width: $bp-max-tablet) {
  body::before {
    @include helper-element;
    content: "tablet";
    background: #0074d9;
  }
}

@media (min-width: $bp-min-phablet) and (max-width: $bp-max-phablet) {
  body::before {
    @include helper-element;
    content: "phablet";
    background: #7fdbff;
  }
  .row {
    flex-direction: column;
    .column {
      width: 100%;
    }
  }
  .column-style {
    display: none;
  }
}

@media (max-width: $bp-max-phone) {
  body::before {
    @include helper-element;
    content: "phone";
    background: #39cccc;
  }
  .row {
    flex-direction: column;
    .column {
      width: 100%;
    }
  }
  .column-style {
    display: none;
  }
}
