//Break Point
$bp-min-desktop: 1025px;
$bp-min-tablet: 768px;
$bp-max-tablet: 1024px;
$bp-min-phablet: 481px;
$bp-max-phablet: 767px;
$bp-max-phone: 480px;

//Colors
$initial-white: #fff !default;
$primary: #eec71a !default;
$dark-gray: #454547 !default;
$semi-dark-grey: #aeafb3 !default;
$light-gray: #d1d1d1 !default;
